.time-range-selector {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  .time-range {
    transition: all 0.1s ease;
  }
  
  .time-marker {
    transition: all 0.1s ease;
    
    &.start,
    &.end {
      box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
    }
    
    &.start-only {
      box-shadow: 0 0 8px rgba(255, 107, 1, 0.5);
    }
  }
}

