.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: background-color 0.3s ease;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;

  .layout-content {
    flex: 1;
    padding: 0;
    position: relative;
    transition: background-color 0.3s ease;
    overscroll-behavior: none;
  }
}

